*{
    box-sizing: border-box;
}
body{
    font-family: arial;
    display: flex;
    flex-direction: column;
    margin: 0;
}
a{
    text-decoration: none;
}
header{
    background: rgb(94, 109, 66);
    display: flex;
    align-items: center;
    padding: 15px 0;
}
header a{
    color: white;
}
header ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    padding: 0;
    margin: 0;
}
#logo{
    margin: 0 auto;
    font-size: 28px;
}
#menu li{
    padding: 10px;
}
#socoal-links li{
    padding: 10px;
}
#main{
    display: flex;
}
aside{
    padding: 10px;
    flex: 0 0 20vw;
    background: beige;
}
 aside ul{
    list-style: none;
    padding: 0;
 }
aside ul a{
    color: rgb(94, 109, 66);
    padding: 5px;
    display: block;
    border-bottom: 1px solid gray;
}
aside img{
    width: 100%;
}
article{
    padding: 10px;
}

.services-container{
    display: flex;
    justify-content: space-between;
}
.service-box{
    border: 1px solid #b59898;
    flex-basis: 32%;
    min-width: 370px;
    padding: 10px;
    margin-bottom: 15pxs;
    display: flex;
    flex-direction: column;
}
.service-box img{
    width: 100%;
}
.service-box h3{
    margin: 5px 0 10px;
}
.service-box p{
    margin: 0 0 10px;
}
.call-to-action{
    align-self: flex-start;
    margin-top: auto;
}
.call-to-action a{
    background: gray;
    border: 2px solid transparent;
    color: white;
    padding: 8px 12px;
    display: block;
}
.call-to-action a:hover{
    background: transparent;
    border: 2px solid gray;
    color: black;
}
footer{
    background: rgb(94, 109, 66);
    color: white;
    text-align: center;
    padding: 15px 0;
}